$cWhite: white;
$cBlack: black;
$cSubTitle: #535353;
$cBgGray: #f0f4f7;
$contentMaxWidth: 1200px;
$contentMaxWidth1000: 1000px;
$navHeight: 80px;
$navHeight-m: 50px;
$mainColor: rgb(236, 99, 0);
$mainColor-o: rgba(236, 99, 0, 0.8);
$cColorRed: #e10000;
$cBtnColor: $cColorRed;
$cTextRed: $cColorRed;
$main-txt: #333;
$lightGray: #8888;
$cBlue: #44ade4;
